@font-face {
    font-family: "yisraeleet400regular";
    src: url("../fonts/yisraeleet400-webfont.woff2") format("woff2"),
         url("../fonts/yisraeleet400-webfont.woff") format("woff"),
         url("../fonts/yisraeleet400-webfont.ttf") format("truetype"),
         url("../fonts/yisraeleet400-webfont.svg#yisraeleet400regular") format("svg");
    font-weight: normal;
    font-style: normal;

}
