@font-face {
  font-family: "yisraeleet400";
    src: url("../yisraeleet.eot"); /* IE9 Compat Modes */
	src: url("../yisraeleet.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	     url("../fonts/yisraeleet.woff2") format("woff2"), /* Super Modern Browsers */
         url("../yisraeleet.woff") format("woff"), /* Pretty Modern Browsers */
         url("../yisraeleet.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../yisraeleet.otf") format("opentype"),
		 url("../yisraeleet.svg#yisraeleeth") format("svg"); /* Legacy iOS */
    font-size: 25px;
    font-style: normal;
    unicode-range: U+0008-FB4F;
}
